.header{
    background-color: #663EA8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main{
    background-image: url(images\img.png);
}


.fon{
    position:absolute;
    z-index: -1;
    object-fit: cover;
    width:100%;
    top:0;
    left:0;
}

.white{
    color: white;
}

.knopki{
    display: flex;
    flex-direction: column;
    width: 30%;
    box-align: flex-end;
}

